flows.json
[{"id":"43336ff3.690a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1021330a.48f25d","type":"ibmiot in","z":"43336ff3.690a8","authentication":"apiKey","apiKey":"9fac8e0d.69c83","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"nodemcu","applicationId":"","deviceType":"iot-smartagriculture","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":"0","x":310,"y":240,"wires":[["6c97605c.2114c","618ba8f5.723628","514c983d.883a68"]]},{"id":"6c97605c.2114c","type":"debug","z":"43336ff3.690a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":600,"y":240,"wires":[]},{"id":"618ba8f5.723628","type":"function","z":"43336ff3.690a8","name":"","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["6c97605c.2114c","e2e36944.1fb708"]]},{"id":"514c983d.883a68","type":"function","z":"43336ff3.690a8","name":"","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["6c97605c.2114c","fee44d1a.9a844"]]},{"id":"e2e36944.1fb708","type":"ui_gauge","z":"43336ff3.690a8","name":"","group":"c9c7d53e.6d91c8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degree","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":140,"wires":[]},{"id":"fee44d1a.9a844","type":"ui_gauge","z":"43336ff3.690a8","name":"","group":"c9c7d53e.6d91c8","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":340,"wires":[]},{"id":"3b51314d.6308ce","type":"http request","z":"43336ff3.690a8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Trichy, IN&appid=1a84fa7bb6a6e0843a098963df6f2eb7","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":440,"wires":[["6c97605c.2114c"]]},{"id":"af06f404.79f7d8","type":"inject","z":"43336ff3.690a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["3b51314d.6308ce"]]},{"id":"3d196b4.2fa9d94","type":"ibmiot out","z":"43336ff3.690a8","authentication":"apiKey","apiKey":"9fac8e0d.69c83","outputType":"cmd","deviceId":"nodemcu","deviceType":"iot-smartagriculture","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":820,"y":480,"wires":[]},{"id":"81acad3a.f99bd","type":"ui_button","z":"43336ff3.690a8","name":"","group":"c9c7d53e.6d91c8","order":2,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"command","x":580,"y":460,"wires":[["3d196b4.2fa9d94"]]},{"id":"76ff2dd0.afbd44","type":"ui_button","z":"43336ff3.690a8","name":"","group":"c9c7d53e.6d91c8","order":3,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":580,"y":540,"wires":[["3d196b4.2fa9d94"]]},{"id":"9fac8e0d.69c83","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c9c7d53e.6d91c8","type":"ui_group","z":"","name":"IOT","tab":"40817ddf.b56eb4","order":1,"disp":true,"width":"6","collapse":false},{"id":"40817ddf.b56eb4","type":"ui_tab","z":"","name":"Smart Agriculture","icon":"dashboard","disabled":false,"hidden":false}]